/** Disposition et mise en forme du menu **/

header {
    display: grid;   
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 50px;
}

#logo-link {
    display: flex;
    justify-content: center;
}

#logo-link img {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
}

header ul {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}


/* ! Problèmes de centrage des liens du menu AAAAAARG ! */
header li {
    display: flex;
    list-style-type: none;
    background-color: #e9e0d2;
    border-bottom: 2px solid #323232;
}

header li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: large;
    color: #282834;
}

header li a p {
    justify-self: center;
}

header li a:hover {
    background-color: #ff7272;
}




/** Disposition et mise en forme du footer **/

footer {
    margin-top: 50px;
    background-color: #282834;
    padding: 25px;
}

footer section {
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

footer section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ff7272;
}

/* Suppression de toutes les marges automatiques */
footer section div * {
    margin: 0px;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: #ff7272; 
}

footer a:hover {
    text-decoration: underline dotted;
}

#credits {
    margin-top: 30px;
    margin-bottom: 3px;
    text-align: center;
    font-size: small;
    color: #ff7272;
}











