/** Mise en forme des pages projets **/

.projets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin: auto;
}

.chapeau {
    text-align: center;
    color: #fed24a;
}

.projets p {
    color: white;
}

.projets b {
    color: #fed24a;
}


.projets table {
    table-layout: fixed;
    width: 600px;
    align-self: center;
    margin: 20px 0px;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: #fed24a;
}

.projets th, td {
    padding: 15px;
}

.projets ul {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin: 0%;
    gap: 15px;
}

.projets li {
    list-style-type: square;
}

.projets section div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 16px;
}

.projets figcaption {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: small;
    font-style: italic;
}

.projets section embed {
    width: 100%;
    height: 500px;
}


/** Gestion des diaporamas **/

img {
    max-width: 100%;
}
.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}





