/** Mise en forme des pages projets **/

.projets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin: auto;
}

.chapeau {
    text-align: center;
    color: #ff7272;
}

.projets p {
    color: #282834;
}

.projets b {
    color: #282834;
}

.projets table {
    table-layout: fixed;
    width: 600px;
    align-self: center;
    margin: 20px 0px;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: #ff7272;
}

.projets th, td {
    padding: 15px;
}

.projets ul {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin: 0%;
    gap: 15px;
}

.projets li {
    list-style-type: square;
}

.projets section ul {
    margin-left: 30px;
    margin-bottom: 10px;
}

.embed-documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.embed-documents embed {
    width: 45%;
    height: 500px;
    margin-bottom: 20px;
}

.figures {
    display: flex;
    gap: 5%;
}

.figures figure {
    width: 45%;
    margin: 0px;
}

.figures figure img {
    width: 100%;
}

.figures figcaption {
    text-align: center;
    margin-top: 5px;
    color: #282834;
    font-style: italic;
}

