/*! Couleurs !*/
/*
#fed24a = jaune
#ff7272 = rouge (clair)
#fa6868 = rouge (plus foncé)
#e9e0d2 = beige
#363543 = gris clair du mode sombre
#282834 = gris foncé du footer
*/

/** Mise en forme globale **/

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background-color: #e9e0d2;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 23px;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
    color: #ff7272;
}

h2 {
    margin-top: 40px;
    color: #ff7272;
    padding-bottom: 5px;
    border-bottom: 2px solid #fed24a;
}

h3 {
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
    font-size: large;
}

h5 {
    margin-top: 3px;
    font-size: medium;
    text-align: center;
}

main a {
    text-decoration: none;
    text-decoration: underline dotted;
}

main a:hover {
    text-decoration: underline;
}

.arianne {
    font-size: small;
    color: #fa6868;
    text-decoration: underline dotted;
    margin-bottom: 30px;
}

.reseaux img {
    max-height: 40px;
    margin-top: 5px;
    transition: transform .1s;
}



/* ? Garder les adaptations de navigateurs ? */
.reseaux img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}




/** Page d'accueil **/

/* Rectangle de présentation */

#presentation {
    display: flex; 
    justify-content: space-evenly;
    background-color: #ff7272;
    padding: 20px;
}

#presentation div {
    display: flex;
    flex-direction: column;
}

#presentation p, #presentation a,#presentation h3 {
    color: black;
    text-align: center;
}

#leagaraix {
/*    background-color: #282834;*/
    background-color: #323232;
    padding: 10px;
    align-items: center;
    width: 40%;
}

#leagaraix p, #leagaraix a, #leagaraix h3 {
    color: #e9e0d2;
}

#leagaraix img {
    max-width: 100px;
    margin-bottom: 15px;
}

#informatique-et-moi {
    margin-left: 40px;
    margin-right: 40px;
}

/* Occupations personnelles */

#infos-perso {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

#infos-perso div div {
    display: flex;
    column-gap: 30px;
}

#infos-perso div img {
    height: 100px;
    align-self: center;
}





/** Projets informatiques **/

#liste-projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 25px;
}

.projet {
    background-color: #fed24a;
    width: 350px;
    padding: 15px;
}

.projet a {
    text-decoration: none;
    color: black;
}

.projet a:hover {
    text-decoration: underline dotted;
}


/** Formations **/

.chronologie {
    display: flex;
    color: white;

}

.chronologie hr {
    margin: 0%;
    margin-right: 25px;
    color: #fed24a;
}

.chronologie h3 {
    color: #fed24a;
    margin-top: 10px;
}

.chronologie section {
    margin-bottom: 40px;
}

.lieu-date {
    color: #fed24a;
}





