/** Mise en forme globale **/

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background-color: #363543;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    margin-top: 5px;
}

h1 {
    margin-top: 0%;
    margin-bottom: 40px;
    text-align: center;
    color: #fed24a;
}

h2 {
    margin-top: 40px;
    color: #fed24a;
    padding-bottom: 5px;
    border-bottom: 2px solid #fed24a;
}

h3 {
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
    font-size: large;
}

h5 {
    margin-top: 3px;
    font-size: medium;
    text-align: center;
}

.reseaux img {
    max-height: 40px;
    transition: transform .1s;
}

/* ? Garder les adaptations de navigateurs ? */
.reseaux img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}




/** Page d'accueil **/

#presentation {
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 2fr;
    column-gap: 20px;
    background-color: #fed24a;
    padding: 20px;
}

#presentation div {
    display: flex;
    flex-direction: column;
}

#leagaraix {
    align-items: center;
}

#leagaraix img {
    max-width: 100px;
    margin-bottom: 15px;
}



/** Projets informatiques **/

#liste-projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 25px;
}

.projet {
    background-color: #fed24a;
    width: 350px;
    padding: 15px;
}

.projet a {
    text-decoration: none;
    color: black;
}

.projet a:hover {
    text-decoration: underline dotted;
}


/** Formations **/

.chronologie {
    display: flex;
}

.chronologie hr {
    margin: 0%;
    margin-right: 25px;
    color: #fed24a;
}

.chronologie h3 {
    color: #fed24a;
    margin-top: 10px;
}

.chronologie {
    color: white;
}

.lieu-date {
    color: #fed24a;
}





